html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Karla', sans-serif;
}

#box-wrapper {
  background:
  linear-gradient(
    rgba(167,207,223,0.05),
    rgba(35,83,138,1)
  ), url('../assets/image1.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 56.25%;

  height: 100%;

  color: white;
}

.navbar {
  margin-top: 0px;
  /*margin-bottom: 0px;*/
}

.buffer {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Used for affixing navbar */
.top {
  position: fixed;
  width: 100%;
  top: 0;
}

#middle {
  vertical-align: middle;
}

/*#motto h1, p{
  padding: 0; dont use
  margin: 0; dont use
}*/

 /* Formatting text in first section */
#motto h1 {
  font-size: 32px;
  line-height: 0.6;
}

#motto p {
  font-size: 16px;
  line-height: 1;
}

/* Transparent Buttons */
.btn-transparent {
  background: transparent;
  color: #F2F2F2;
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
  /*border: 2px solid #4992B7;*/
  border: 2px solid white;

  /* No more rounded buttons */
  border-radius: 0px;
}

.btn-transparent:hover {
  color: white;
  background-color: rgba(255,255,255,0.2);
}
